[submodule "lib/DxlCtl"]
	path = lib/DxlCtl
	url = git@github.com:hosogaya/DxlCtl.git
[submodule "lib/vl6180x-arduino"]
	path = lib/vl6180x-arduino
	url = git@github.com:pololu/vl6180x-arduino.git
[submodule "lib/imu-jy901"]
	path = lib/imu-jy901
	url = git@github.com:hosogaya/imu-jy901.git
